@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');


* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
}

:root {
  --dark: #111;
  --light: #eee;
  --grey-d: #333;
  --grey-m: #888;
  --grey-l: #ccc;
  --orange: #ff4500;
  --sky: #29b7f0;
  --sky-light: #ade0f4;
}

body {
  background-color: var(--grey-l);
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--dark);
}

.fw-h3 {
  font-weight: 300 !important;
}

.brd-dk {
  border: 2px solid var(--dark);
}
.brd-lg {
  border: 2px solid var(--light);
}

.btn-selected{
  border: 2px dotted var(--grey-d);
  border-radius: 50%;
  padding: 8px;
  transition: transform 0.3s
;}

.btn-selected:hover {
  transform: scale(1) !important;
}